<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editpost</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <form method="POST" action="/posts/<%=data.id %>?_method=PATCH">
<h2><%= data.username%></h2>
        <br><br><br>
        <textarea name="tweet" cols="50" rows="10"><%=data.tweet %></textarea>
        <hr>
        <button>Done</button>
    </form>
 
</body>
</html>